.container{
    display: flex ;
    justify-content: center;
    align-items: center;
}

.categ{
    background-color: #ffffff;
    height: 90px;
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    width: fit-content;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}
.categMenu{
    display: flex; 
    list-style: none;
    justify-content: center; 
    gap: 2rem;
}

.categLinks{
    color: black;
    text-decoration: none;
}
.categLinks:hover {
    color: rgb(34, 142, 50);
     border-radius: 4px;
     transition: all 0.2s ease-out;
     text-decoration-line: underline;
   }

   @media (max-width: 768px) {
        .categMenu{
            text-decoration: none;
            display: flex;
            text-align: center;
            color: black;
            width: 20%;
        }
    
}