:root{
    --color-grayblack: #25282B;
    --color-black: #000;
    --color-green: #119C59;
}

.header{
    margin-bottom: 2rem;
}
.main{
    padding: 2% 10%;
}
.h1{
    font-size: 3rem;
    width: fit-content;
    color: var(--color-green);
    position: relative;
    margin-bottom: 0;
}

.h1::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 1px;
    left: 0;
    background-color: var(--color-green);
}
.pheader{
    margin-top: 10px;
}

.btn{
    display: flex;
    justify-content: center;
}

.Link{
    color: black;
}

@media screen and (max-width: 450px) {

    .h1{
        font-size: 1.8rem;
    }
   
    .h1::before{
        width: 30%;
        height: 3px;
        bottom: 1px;
    }    


}