@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

*{
    font-family: 'Poppins' , sans-serif;
}
*:focus{
    outline: none;
}

html{
    scroll-behavior: smooth;
}