.Container{
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
}

.p{
    font-size: 1.4rem;
    color: #52575C; 
}

.Content{
    display: flex;
    column-gap: 20% ;
    align-items: center;

}

.Left{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    
}

.Right{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.form{
    margin-top: 4rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
}

.h1{
    color:var(--color-green);
    width: fit-content;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    position: relative;
}

.h1::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 1px;
    left: 0;
    background-color: var(--color-green);
}

.inputs{
    display: flex;
    width: 100%;
    padding: 10px ;
    border-radius: 5px;
    border: 1px solid #ccc ;
    margin:1rem 0;
}

.names{
    color: #25282B;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.area{
    border-radius: 10px;
    width: 102%;
    margin: 1rem 0;
    border: 1px solid #ccc ;
    padding: 10px;
}

.Img{
    width: 100%;
}

      @media (max-width: 768px) {
       .Content{
        flex-direction: column;
       }
       .Left{
        width: 100%;
       }
       .Right{
        width: 100%;
       }
       .Container{
        margin-top: 4rem;
       }
    }