  :root{
    --color-green : #119C59;
    --color-white : #FAF9F7;

  }

.footer {
  width: 100%;
  background: var(--color-green);
}

.footer .footerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3.5rem;
  padding: 30px 0 ;
}

.footerCol{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footerRow .footerCol {
  font-size: 1.2rem;
  font-weight: 400;
}

.footerRow .footerCol h3{
  color: white;
}

.h3::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  top: 35px;
  left: 0;
  background-color: white;
}

.footerCol .links {
  margin-top: 20px;
  padding: 0 ;
}

.footerCol .links .liFooter {
  list-style: none;
  margin-bottom: 10px;
}

.footerCol .links .liFooter a {
  text-decoration: none;
  color: #000;
}

.footerCol .p {
  margin: 20px 0;
  max-width: 300px;
}

.footerCol .icons {
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  color: var(--color-white);
  justify-content: center;
  margin: 0;
  padding: 0;
}

.icon{
  width: 25px ;
  height: 25px;
  color: var(--color-white);
}

.icon:hover{
  color: black;
}

.liFooter{
  display: flex;
  color: black;
}

.liFooter:hover{
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.h3{
  color: white;
  position: relative;
  width: fit-content;
  margin: 0;
}

.copyright{
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}

.technow{
  color: white;
}

.pcopyright{
  margin: 0;
  margin: 10px 0 5px 0 ;
  color: var(--color-white);
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footerRow {
    padding: 20px;
    gap: 1rem;
  }
  .copyright{
    font-size: 0.9rem;
  }

  .icons .liFooter{
    font-size: 1.2rem;
  }
}