  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

  :root{
    --color-green : #119C59;
    --color-white : #FAF9F7;

  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.footer {
  width: 100%;
  background: var(--color-green);
  margin-top: 30px;
}

.footer .footerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 30px 20px ;
}

.footerCol{
  display: flex;
  flex-direction: column;
}

.footerRow .footerCol {
  font-size: 1.2rem;
  font-weight: 400;
}

.footerRow .footerCol h3{
  color: white;
}

h3::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  top: 35px;
  left: 0;
  background-color: white;
}

.footerCol .links {
  margin-top: 20px;
}

.footerCol .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footerCol .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footerCol .links li a:hover {
  color: #fff;
}

.footerCol .p {
  margin: 20px 0;
  max-width: 300px;
}

.footerCol .icons {
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  color: var(--color-white);
  justify-content: center;
}

.icon{
  width: 25px ;
  height: 25px;
  margin-right: 4px;
}

.li{
  display: flex;
}

.h3{
  color: white;
  position: relative;
  width: fit-content;
}

.copyright{
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  margin: 10px 0 5px 0 ;
}

.technow{
  color: white;
}


@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footerRow {
    padding: 20px;
    gap: 1rem;
  }
  .copyright{
    font-size: 0.9rem;
  }

  .icons .li{
    font-size: 1.2rem;
  }
}