@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

:root{
    --color-grayblack: #25282B;
    --color-black: #000;
    --color-green: #119C59;
}
.blogdetails{
    padding: 2% 10%;
}

.top{   
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 2%;
}

.h1{
    margin-bottom: 3px;
    font-size: 2.5rem;
    font-family: 'poppins';

}
.image{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%
}
.p{
    margin-top: 0;
    font-size: 1rem;
    font-family: 'poppins';
    color: var(--color-grayblack);
}
.blogcontent{
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
    font-family: 'poppins';
    text-align: justify;
    color: var(--color-black);
}
/* .center{
    display: flex;
    justify-content: center;
} */

@media screen and (max-width: 992px) {
    .blogdetails{
        padding: 2% 5%;     }

    .h1{
        font-size: 2rem;    }

    .p{
        font-size: 0.8rem;     }

    .blogcontent{
        font-size: 1rem; 
    }
}

@media screen and (max-width: 768px) {
    .blogdetails{
        padding: 2% 5%; 
    }

    .h1{
        font-size: 2rem; 
    }

    .p{
        font-size: 1rem; 
    }

    .blogcontent{
        font-size: 1.2rem; 
    }
    .image{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .h1{
        font-size: 1.5rem;
    }
    .p{
        font-size: 0.8rem;
    }
    .blogcontent{
        font-size: 1rem;
    }
}
