.Container {
  display: flex;
  margin: 0 10%;
  flex-direction: column;
  
}
.Top{
  display:flex;
  flex-direction: row;
  width: 100%;
  column-gap: 20%;
}

.Bottom{
  width: 100%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.Left , .photo{
  width: 40%;
}

.h1{
  color: var(--color-green);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.h1::after{
  content: "";
  position: absolute;
  bottom: -5px;
  right: 50%;
  width: 50%;
  height: 5px;
  background-color: var(--color-green);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 1.5rem;
  padding: 0;  
  width: 100% ;
}

.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  color: #25282B;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
}

.input {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.submitButton {
  color: white;
  display: flex;
  width: 200px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--green, #119C59);
  
}


.area {
  display: flex;
  width: 100% ;
  height: 15rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 0;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
}

.area.links{
  height: 5rem !important ;
}

.img{
  width: 75%;  
}

.area , .input{
  border: 1px solid #ccc;
}

.area:focus , .input:focus {
  outline: none;
}

.btn{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .Container {
    flex-direction: column;
    margin: 0 2rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;  
    width: 170% ;
  }
  .name {
    font-weight: bold;
    margin-top: 2rem;
  }


  .photo {
    display: none; 
  }

  .h1 {
    text-align: left;
    font-size: 30px;
    margin-top: 70px;

  }
  .area {
    margin-top: 1rem;
    width: 100%;
    height: 10rem; 
  }
  .input {
    width: 100%;
    
   
  }
  .submitButton{
    margin-top: 1rem;
  }
  
}