.usersContainer{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin:0 auto 150px auto;
    gap:70px;
}

@media only screen and (width<400px){
    .usersContainer{
        width:90%;} 
}