@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
:root{
    --colorgreen: #119c59;
    --colorblack:  #25282B;
;}
.blogtitle{
    padding: 2% 10%;
}
.header{
    margin-top: 5%;
    
}
.h2{
    font-family: 'poppins';
    font-size: 1.8rem;
}

.pheader{
    margin-top: 10px;
    font-size: 2rem;
    font-family: 'poppins';
}

.blogcontent{
    display: flex;
    margin-top: 2%;
    gap :2rem;
    padding: 1%;
    height: 600px;  
}

.blogcontent.blogReverse{
    flex-direction: row-reverse;
    height: 600px;
}

.blogcontent:hover{
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: 0 0 6px 2px #00000024;
}

.blogcontent:hover .h2{
    color: var(--colorgreen);
}

.mainimage{
    width: 50%;
    display: flex;
}

.maincontent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.image{
   width: 100%;
   height: 100%;
}

.ReversedImg{
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.normalImg{
    justify-content: flex-start;
}
.pclass{
    font-size: 0.8rem;
}

.icons{
    display: flex;
    justify-content: flex-end;margin-top: 10px;

}

.icons:hover{
    color: var(--colorgreen);
}

.blogcontent.blogReverse .icons{
    justify-content: flex-start;
}
.link{
    color: black;
}

.link2{
    color: black;
    width: 70%;
}
.btnDelete , .btnDelete:hover {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    width: 20px;
    height: 20px ;
}

.span{
    display: flex;
    column-gap: 10px;
}

.Icon{
    width: 20px ;
    height: 20px;
    color: black;
}

.Icon:hover{
    color: var(--colorgreen);
}

@media screen and (max-width: 768px) {
    .blogtitle {
        padding: 2% 5%;     }

    .h2 {
        font-size: 1.2rem; 
    }
    .link2{
        width: 100%;
    }

    .blogcontent{
        margin-bottom: 4rem;
    }

    .pheader {
        font-size: 1.5rem;     }

    .blogcontent {
        flex-direction: column;       
        gap: 1rem; 
    }

    .mainimage {
        width: 100%;
    }
    .maincontent{
        width: 100%;
    }
    .blogcontent.blogReverse{
        flex-direction: column;
    }
    .blogcontent.blogReverse .icons{
        justify-content: flex-end;
    }
    .ReversedImg .normalImg{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1000px) {
    .h2{
        font-size: 1.4rem;
    }
}