.Container {
    display: flex;
    margin: 0 10%;
    flex-direction: column;
    
  }
  .Top{
    display:flex;
    flex-direction: row;
    width: 100%;
    column-gap: 20%;
  }

  .Bottom{
    width: 100%;
    margin: 0 auto;
  }

  .Left , .photo{
    width: 40%;
  }

  .h1{
    color: var(--color-green) ;
    width: fit-content;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}

.h1::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 1px;
    left: 0;
    background-color: var(--color-green);
}

  .form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 1.5rem;
    padding: 0;  
    width: 100% ;
  }
  
  .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    color: #25282B;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
  }
  
  
  .input {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .name {
    font-weight: bold;
  }

  .area {
    display: flex;
    width: 100% ;
    height: 15rem;
    border: 1px solid #ccc;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    margin-left: 0;
    border-radius: 10px;
    margin-top: 1rem;
  }

  .img{
    width: 75%;
  }
  

  @media (max-width: 768px) {
    .Container {
      flex-direction: column;
      margin: 0 2rem; /* Adjust the margin for smaller screens */
    }
    .form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 0;  
      width: 170% ;
    }
    .name {
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 2rem;
    }
  

    .photo {
      display: none; /* Hide the photo on smaller screens */
    }
  
    .h1 {
      text-align: left;
      font-size: 30px;
      margin-top: 70px;

    }
    .area {
      margin-top: 1rem;
      width: 100%; /* Adjust the width for smaller screens */
      height: 10rem; /* Adjust the height for smaller screens */
    }
    .input {
      width: 100%;
    }
    .submitButton{
      margin-top: 1rem;
    }
    
  }