.NavbarItems{
  background-color: #ffffff;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  border-left: 10px ;
  width: 95% ;
  margin: 0 auto;
  font-size: 1.1rem;
}

.Middle{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 1rem;
}

.navMenu{
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  column-gap: 2.5rem;
  padding: 0;
}

.navLinks{
  text-decoration: none;
  color: black;
  padding: 0.5rem 0;
}

.navbarlogo{
  color: var(--green, #119C59);
  align-self: start;
  font-family: Offside;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}


.navLinks:hover {
  color: rgb(34, 142, 50);
   border-radius: 4px;
   transition: all 0.2s ease-out;
   text-decoration-line: underline;
 }


@media (max-width: 768px) {
  .NavbarItems {
    flex-direction: column;   
  }
  .Middle{
    width: auto;
    justify-content: center;

  }
  .navLinks{
    margin-top: 1rem;
    text-decoration: none;
    justify-content: center;
    color: black;
    padding: 0px;
    width: 90px;
    display: flex;
    text-align: center;
  }
  li{
    text-align: center;
  }
  .navMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    gap:0;
    
  }
}