
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --green1 : #14B86E ;
    --green2 : #119C59 ;
}
.Dashboard{
    display: flex;
    margin: 0 3%;
    flex-direction: column;
    height: 100vh;
    
}
.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Bottom{
  width: 80%;
  margin: 0 auto;
}

.h1{
    color: var(--green1);
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.h1::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 1px;
    left: 0;
    background-color: var(--green1);
}

.Logo{
    color: var(--green2);
    font-family: Offside;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Name{
    color: var(--colorblack);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1px;
}

.ul{
    display: flex;
    list-style: none;
    column-gap: 1rem;
    font-size: 1.2rem;
}

.li:hover{
    color: var(--green2);
}

.Manage{
    display: flex;
    flex-direction: column;
}
.button{
    margin-bottom: 2rem;
}

.Link{
    width: fit-content;
}
@media (max-width: 768px) {
    .Dashboard{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .Bottom{
        width: 100%;
    }
   
}
@media (max-width: 500px) {
    .Dashboard{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .Bottom{
        width: 140%;
    }
   
}