

.Dashboard {
    display: flex;
    flex-direction: column;
  }
  
  .overview {
    display: flex;
    flex-direction: column;
    margin: 100px;

  }
  
  /* .LineChart,
  .MostActiveUserChart,
  .UserDescriptionsChart,
  .RecentNewsGrid {
    width: 190%;
    box-sizing: border-box;
  } */
  
  /* Set width for larger screens (adjust as needed) */
  @media (min-width: 768px) {
    .chartContainer {
      display: flex;
    }
  
    .LineChart {
      width: 100%;
    }
  
    .MostActiveUserChart,
    .UserDescriptionsChart {
      width: 50%;
    }
  
    .RecentNewsGrid {
      width: 100%;
    }
  }
  