@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Manrope&family=Offside&family=Poppins&display=swap');

:root{
    --color-green2 : #119C59;
    --color-red: #E32751;
}

.Container{
    display: flex;
    flex-direction: column;
}

.Logo{
    font-family: 'Offside', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.Span{
    font-family: 'Manrope' , sans-serif;
    color: var(--color-red);
    font-size: 1rem;
    margin: 0;
    padding: 0 5px;
}

.LogoGreen{
    color: var(--color-green2);
}

.LogoWhite{
    color: white;
}

a{
    text-decoration: none;
}