.container{
    width:12rem;
    height: 4rem;
    display: flex;
    align-items: center;
}
.icon{
    width: 45%;
}
.desc{
    width: 50%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.p{
    margin: 0;
}